
    body {
        background-color: #F8EAD8;
          }
    hr {
        background-color: white;
        border-style: none;
        border-top-style: dotted;
        height : 0px;
        width : 99%;
        border-color: grey;
        border-width: 5px;
        }

    h1 {
        color: #7D5A5A;
    }

    h2 {
    color: #A7727D;
    }



