
body {
    margin-top: 100px;
	background-image: url("waves-1.jpeg");
}


.in-middle {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;

}

div img {
    padding-top: 50px;
}

img {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.centerr {
  margin: auto;
  width: 50%;
  padding: 10px;
}


.my-name {
    /* font-family: 'Alkatra', cursive; */
    font-family: 'Merriweather', serif;
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Sacramento', cursive; */
}


a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color:blueviolet;
    text-decoration: underline;
}



.my-cert {
    /* font-family: 'Alkatra', cursive; */
    font-family: 'Merriweather', serif;
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Sacramento', cursive; */
    }




	/* Footer */

	#footer {
		color: #fff;
	}

		#footer .copyright li {
			border-left: solid 1px #fff;
		}



.neonText {
	color: #fff;
	text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    /* Green glow */
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

